extend layout
block content
	script(src="script/jquery-1.10.2.min.js")
	script(src="script/DS/ord_list.js")
	script(src="script/DS/main01.js")
	h1 #STDOUT:
	#stdout
	h1 #STDERR:
	#stderr
	hr
	p
		a(href="script/DS/ord_list.js") [ord_list Code]
		&nbsp; | &nbsp;
		a(href="script/DS/main01.js") [main Code]