extend layout
block content
  h1 互動網站設計(node.js)
  ul
    li
      a(href="/lab01") Lab01: Hello
    li
      a(href="/lab02") Lab02: Form
    li
      a(href="/lab03") Lab03: HTML
    li
      a(href="/lab04?n=10") Lab04: Table
  hr
  h1 計算機圖學(WebGL)
  ul
    li
      a(href="/WebGL01") WebGL01: Teapot Rotation