extend layout
block content
  h1(class="update") 2013/10/10： 新增資料結構HW1
  h1 互動網站設計(node.js)
  ul
    li
      a(href="/lab01") Lab01: Hello
    li
      a(href="/lab02") Lab02: Form
    li
      a(href="/lab03") Lab03: HTML
    li
      a(href="/lab04?n[]=7&n[]=5&n[]=2&n[]=10&n[]=1") Lab04: Table
  hr
  h1 計算機圖學(WebGL)
  ul
    li
      a(href="/WebGL01") WebGL01: Teapot Rotation
  hr
  h1 資料結構(Javascript)
  ul
    li
      a(href="/DS01") Data Structor 01: Ordered-list ADT