extend layout
block content
  table(border='1')
    tr
      th Item
      th Num#
    - if( n && n.length ) for( var i = 0 ; i < n.length ; i++){
      tr
        td= 'No.' + (i+1) 
        td(style='text-align: left; padding-left: 20px;')
          - for( var j = 0 ; j < n[i] ; j++ )
            span(class='block')
    - }