!!!5
html
  head
    title #{title} - 灆洢騎士の互動網站設計と計算機網站
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 
        a(href="/") 灆洢騎士の互動網站設計と計算機網站
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus